@font-face {
    font-family: "myFont";
    src: url("PressStart2P-Regular.ttf");
  }
body {
    background-color: rgb(209, 245, 221);
    font-family: "myFont", "Press Start 2p";
}

h1 {
    color: rgb(77, 118, 96);
    text-align: center;
    padding-top: 50px;
    font-family: "myFont", "Press Start 2p";

}

h2 {
    color: rgb(77, 118, 96);
    text-align: center;
    padding-top: 50px;
    font-family: "myFont", "Press Start 2p";

}

.container {
    display: flex;
    background-color: rgb(91, 183, 131);
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: none;
    transition: all 2s ease-in-out;
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("grass.jpeg");

}

.container2 {
    display: flex;
    background-color: rgb(77, 162, 107);
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: none;
    transition: all 2s ease-in-out;
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}