@font-face {
    font-family: "myFont";
    src: url("PressStart2P-Regular.ttf");
  }

  html {
    height: 100%;
  }
body {
    background-color: rgb(209, 245, 221);
    font-family: "myFont", "Press Start 2p";
}

h1 {
    color: rgb(77, 118, 96);
    text-align: center;
    padding-top: 50px;
    font-family: "myFont", "Press Start 2p";

}

h2 {
    color: rgb(77, 118, 96);
    text-align: center;
    padding-top: 50px;
    font-family: "myFont", "Press Start 2p";

}

.container {
    display: flex;
    background-color: rgb(91, 183, 131);
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: none;
    transition: all 2s ease-in-out;
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("grass.jpeg");

}

.container2 {
    display: flex;
    background-color: rgb(77, 162, 107);
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: none;
    transition: all 2s ease-in-out;
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}

i {
    position: absolute;
    height: 160px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: raining 5s linear Infinite;
  }
  @-moz-keyframes raining {
    0% {
      transform: translateY(-160px);
    }
    100% {
      transform: translateY(calc(100vh + 160px));
    }
  }
  @-webkit-keyframes raining {
    0% {
      transform: translateY(-160px);
    }
    100% {
      transform: translateY(calc(100vh + 160px));
    }
  }
  @-o-keyframes raining {
    0% {
      transform: translateY(-160px);
    }
    100% {
      transform: translateY(calc(100vh + 160px));
    }
  }
  @keyframes raining {
    0% {
      transform: translateY(-160px);
    }
    100% {
      transform: translateY(calc(100vh + 160px));
    }
  }
  
  
